@page "/AddDepartment"
@using EMP_NEW.Data
@inject EMP_NEW.Service.DepartmentService departmentService
@inject NavigationManager NavigationManager

<h2>Add New Department</h2>
<form>
    <div class="row">
        <div class="col-md-8">


            <div class="form-group">
                <div class="form-group">
                    <lable for="Name" class="Contro-label">DepartmentName</lable>
                    <input form="Name" class="form-control" @bind="@department.DepartmentName" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <lable for="Name" class="Contro-label">PhoneNumber</lable>
                    <input form="Name" class="form-control" @bind="@department.PhoneNumber" />
                </div>
            </div>
           
                <div class="form-group">
                <input type="button" value="Submit Department" @onclick="@CreateDepartments" class="btn btn-primary" />

                    <input type="button" value="Cancel" @onclick="@Cancel" class="btn btn-primary" />
                </div>
            </div>


        </div>
   
</form>

@code {
    Data.Department department = new Data.Department();
    protected void CreateDepartments()
    {
        departmentService.CreateDepartment(department);
        NavigationManager.NavigateTo("DepartmentList");

    }
    void Cancel()
    {

        NavigationManager.NavigateTo("DepartmentList");
    }

}
